<ion-header>
  <ion-toolbar>
    <ion-title>
      Home Screen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic Guide</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This Guide is basically a landing guide that helps you to create and customize your first IONICV4 project.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="http://usamaayaz.com/blog/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Tutorial</ion-label>
      </ion-item>
      <ion-item href="http://usamaayaz.com/blog/">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Customize Your UI</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
