<ion-content class="login-content">
  <ion-list>
    <ion-item lines="none">
      <img src="assets/create-plus-icon.svg" class="align-center signin-icon" />
    </ion-item>
    <ion-item lines="none" class="top-padding">
      <ion-label class="heading-font">Get In</ion-label>
    </ion-item>
    <ion-item lines="none" class="top-padding">
      <ion-label class="heading-font2">Fast Hotel Booking in few Clicks. We hope you will love Routes</ion-label>
    </ion-item>
    <ion-item lines="none" class="no-focused top-padding">
      <ion-input type="email" class="input-gray-bg" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item lines="none" class="no-focused top-padding">
      <ion-input type="password" class="input-gray-bg" placeholder="Password"></ion-input>
    </ion-item>
    <br /><br />
    <ion-item lines="none" class="align-center no-focused top-padding">
      <ion-button size="large" shape="round" color="tertiary" class="align-center btn-green">Login</ion-button>
    </ion-item>
  </ion-list>
</ion-content>